body {
  padding: 1rem;
  background-color: rgb(160, 182, 147);
}

output {
  display: block;
  min-height: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
}

#numberBank,
#evens,
#odds {
  width: 50%;
}

button {
  margin: 5px;
}


