body {
  text-align: center;
  background-color: black;
  color: #aadeee;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30%;
}

label {
  margin: 12px;
}

input {
  margin: 6px auto;
}

.active {
  color: black;
  border-radius: 12px;
  margin: 0 100px;
  background-color: #aabcee;
}


